* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-do {
    width: 336px;
    min-height: 236px;
    border: 2px solid #C4C4C4;
    border-radius: 30px;
    overflow: hidden;
}

.head {
    background-color: #FFDC40;
    width: 336px;
    height: 25px;
}

h1 {
    font-family: Roboto;
    text-align: center;
    margin: 13px 0;
}

.sort {
    margin-left: 281px;
    margin-bottom: 12px;
}

.input {
    margin: auto;
    position: relative;
    width: 286px;
    height: 40px;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    margin-bottom: 3px;
}

input {
    width: 282px;
    height: 37px;
    border: none;
    padding-left: 3px;
    outline: none;
    max-width: 250px;
}

.delete {
    position: absolute;
    top: 8px;
    right: 8px;
}

.delete:hover {
    background: url('images/delete-hover.png');
}

/* .button {
    width: 150px;
    height: 42px;
    margin: 18px auto;
    position: relative;
}

.button-plus {
    position: absolute;
    left: 0;
} */

.buttons {
    width: 150px;
    margin: 0 auto;
    padding-top: 18px;
    position: relative;
}

.button-main {
    display: inline-block;
    width: 150px;
    height: 42px;
    background-color: #833AE0;
    border: 3px solid #833AE0;
    border-radius: 30px;
    cursor: default;
}

.button-main:hover {
    background-color: #8A4AE0;
}

.button-plus {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: #9953F1;
    border: 3px solid #9953F1;
    border-radius: 30px;
    position: absolute;
    left: 0;
}

.button-text {
    margin: auto 0;
    text-align: center;
    color: white;
    padding-top: 8px;
}